{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#">DevLeague / Uber 2015 Hawaii Hackathon</a></h2>
    </header>
    <section class="post-content">
      <section>
        <p>DevLeague and Uber are pleased to announce an exciting new partnership that we hope will contribute to the growth and exposure of the technical ecosystem here in Hawaii! It is a key initiative of ours to continue to grow and connect the developer community and provide valuable skills and opportunities to our students and the community at large.</p>
        <p>To celebrate, we are excited to announce a first of it's kind of event that brings together Uber’s expertise, along with DevLeague’s accelerated software development program in an effort to give Hawaii developers exciting new opportunities to network, collaborate and build using <a href='https://developer.uber.com/' target='_blank'>Uber’s Developer API and your imagination.</a>.</p>
      </section>
      <section>
        <h3>Special Thanks to our premier sponsors</h3>
        <div class="title-sponsors">
            <ul id="sponsors-list" class="plain-list">
              <li class="htdc-logo">
                <img src="{{asset 'images/htdc.png'}}" alt="htdc-logo">
              </li>
            </ul>
            <ul id="sponsors-list" class="plain-list">
              <li class="frontend-masters-logo">
                <img src="{{asset 'images/logo_frontendmasters.png'}}" alt="frontendmasters-logo">
              </li>
              <li class="bluestartups-logo">
                <img src="{{asset 'images/bluestartupslogo.png'}}" alt="bluestartups-logo">
              </li>
            </ul>
{{!--           <span>
            <img src="{{asset 'images/htdc.png'}}" alt="htdc-logo">
          </span>
          <span>
            <img src="{{asset 'images/bluestartupslogo.png'}}" alt="bluestartups-logo">
          </span>
          <span>
            
         <img src="{{asset 'images/logo_frontendmasters.png'}}">
          </span>
  --}}      
         </div>
       </section>
      <section>
        <h3>What is the Hackathon All About?</h3>
        <p>We truly believe that community is such an important part of what we do and we really wanted to try to put together an event that would allow developers from across the Islands to come together in venues within their own communities, but also participate together as a whole.</p>
        <p>Uber engineers will be traveling from Uber HQ and along side instructors from DevLeague, will be working in conjunction to host a 36 hour challenge, designed for attendees across the state to come together in both physical and virtual spaces and celebrate the community that we have n Hawaii as a whole.</p>
        <p>Attendees will collaborate in teams, be able to interact virtually with mentors and other teams, and come together to see what kind of applications we can build using <a href='https://developer.uber.com/' target='_blank'>Uber’s Developer API</a> for some fun prizes and to see what kind of cool stuff we can come up with over a weekend.</p>
        <p>We had the challenge of thinking how we could get attendees to come together for the event across physical borders and simulate a single physical space. Thankfully, we are able to partner with the fine folks at <a href="https://www.livecoding.tv/">Livecoding.tv</a> to connect all attendees in a virtual format.</p>

        <div class="livecoding-large">
          <span>
            <img src="{{asset 'images/Livecoding.tv_logo.png'}}">
          </span>
        </div>
        <p>All attendees will be able to stream from their location, chat with hosts, mentors, share tips and tricks and just in general have a good time coding with others in an open format.</p>
        <p>We will also have guests on the main channel talking about some of the cool things that they have going on.</p>
        <div class="register">
          <span class="register-link">
            <a href="https://www.eventbrite.com/e/devleagueuber-hackathon-tickets-18921075446">Cool! I wanna sign up. >></a>
          </span>
        </div>
      </section>
    </article>
    <article class="post">
      <section>
        <h3>When Is It?</h3>
        <p>October 23rd, 24th, and 25th 2015</p>
      </section>

      <section>
        <h3>We Supply</h3>
        <p>Food and drinks along with mentors from Uber and DevLeague to help with your projects.</p>
      </section>

      <section>
        <h3>What you need to bring</h3>
        <p>Your laptops, ideas and a great attitude.</p>
      </section>

      <section>
        <h3>Venues</h3>
        <ul id="locations">
          <li class="location">
            <h5>Oahu</h5>
            <h6>The Box Jelly</h6>
            <address>307a Kamani Street Honolulu, HI 96813</address>
          </li>
          <li class="location">
            <h5>Hawaii</h5>
            <h6>Startup Suite 8</h6>
            <address>65-1241 Pomaikai Pl #8, Kamuela, HI 96743</address>
          </li>
          <li class="location">
            <h5>Maui</h5>
            <ul>
              <li>
                <h6>Maui Economic Development Board (10/23 Friday Opening Ceremony)</h6>
                <address>1305 North Holopono St. Suite 1</address>
              </li>
              <li>
                <h6>Maui Research Technology Center (MRTC) (10/24, 25 Sat, Sun Hacking)</h6>
                <address>590 Lipoa Pkwy # 155, Kihei, HI 96753</address>
              </li>
            </ul>
          </li>
          <li class="location">
            <h5>Kauai</h5>
            <h6>Anchor Cove Shopping Center </h6>
            <address>3416 Rice St, Lihue, HI 96766</address>
          </li>
        </ul>
      </section>
    </secion>
    <section class="post-content">
      <div class="register">
        <span class="register-link">
          <a href="https://www.eventbrite.com/e/devleagueuber-hackathon-tickets-18921075446">I'm down! Let's do this. >></a>
        </span>
      </div>
    </section>
  </article>
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#">Event Schedule</a></h2>
    </header>
    <section class="post-content">
        <ul>
          <h3>Day 1 - Oct. 23 Friday</h3>
          <li>4pm: Venue Doors Open</li>
          <li>6pm: Kick-off with dinner/Opening ceremonies</li>
          <li>8pm: Pitch ideas and form teams</li>
          <li>9pm: GO TIME!</li>
        </ul>
        <ul>
          <h3>Day 2 - Oct. 24 Saturday</h3>
          <li>10am: Hack</li>
          <li>1pm: Lunch is served</li>
          <li>2pm: Hack</li>
          <li>6pm: Dinner is served</li>
          <li>7pm: Caffienate and Pull All Nighter</li>
        </ul>
        <ul>
          <h3>Day 3 - Oct. 25 Sunday</h3>
          <li>10am: Applications are submitted and breakfast is served</li>
          <li>11am: Winners are announced</li>
          <li>12pm: Closing ceremonies: Directly following judging</li>
        </ul>
    </secion>
  </article>
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="https://www.eventbrite.com/e/devleagueuber-hackathon-tickets-18921075446">Pre-Events</a></h2>
    </header>
    <section class="post-content">
      <p>We will be hosting a series of pre-events prior to the hackathon to get hands-on with components of the Uber API and useful tips and tools for getting prepared for a smooth experience during the event and to allow people to prepare on the tools and things to consider to save time prior to the event.</p>
      <p>Registered attendees will receive invites for online virtual sessions.</p>
      <div>
        <h4>October 19 - 6PM - Uber API Overview</h4>
        <p>In this session we will go over some of the main components of the Uber API in order to give participants some experience with connecting and understanding the various parts of the Uber API.</p>
        <p>This is a great way to start getting some ideas for what you may want to build and get familiar with basic setup allowing you to spend your time during the event building your app.</p>
      </div>
      <div>
        <h4>October 21 - 6PM - Deployment Tips and Tricks</h4>
        <p>Don't get yourself hung up on trying to get your application out the door an hour before the end of the event!</p>
        <p>In this session, we will go over some common deployment scenarios and share some tips and resources for setting up your environments before the event. This will save you time towards the end of the event when you need to JUST SHIP IT!</p>
      </div>
    </section>
  </article>
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#">Prizes</a></h2>
    </header>
    <section class="post-content">
      <div>
        <p><a href="https://frontendmasters.com/">FrontendMasters.com</a> will be providing free 3-month subscriptions(a $117 value) to <b>ALL</b> hackathon participants. With an impressive collection of videos across a wide range of topics from top industry professionals their entire video catalog is the best out there and is a fantastic resource for developers of all skill levels.</p>
        <a href="https://frontendmasters.com/">
         <img src="{{asset 'images/logo_frontendmasters.png'}}">
        </a>
      </div>
      <div>
        <p>We're still working hard to finalize all the official prizes but we will be offering up to $10,000 in prizes to winning teams in variety of categories.
        </p>
      </div>
      <div>
        
      </div>
      <p>
        <h4>Prizes will include:</h4>
        <ul>
          <li>A chance to go to Uber Headquarters and spend a day with their engineering team. (travel not included - currently looking for travel sponsor)</li> 
          <li>A $5K DevLeague scholarship, giftable to someone else. Application approval required for final recipient.</li> 
          <li>Uber swag</li>
          <li>Cool Dev Stuff</li> 
          <li>Gamer Gear</li> 
          <li>Gift Cards</li>
          <li>Conference Passes</li>
          <li>...and more.</li>
        </ul>
      </p>
      <p>
        <h4>Award Categories:</h4>
        <ul>
          <li>
            Best Overall Application
          </li>
          <li>Most Creative Idea</li>
          <li>Oh So Pretty Award</li>
          <li>Noob Glory Award</li>
          <li>Beast Mode Award</li>
          <li>Best Dressed Attendee</li>
        </ul>
      </p>
      <p>All submissions must at least be a working demo. Participants are welcome to use their languages/frameworks of choice.</p>
      <div class="register">
        <span class="register-link">
          <a href="https://www.eventbrite.com/e/devleagueuber-hackathon-tickets-18921075446">Sounds good! I'm in. >></a>
        </span>
      </div>
    </section>
  </article>
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#">Judges</a></h2>
    </header>
    <section class="post-content">
      <ul id="judges-panel">
        <li>
          <div class="profile-pic">
            <img src="{{asset 'images/alecgo-profile.png'}}">
          </div>
          <div class="profile-name">
            Alec Go - Uber
          </div>
          <div class="profile-bio">
            Alec Go is a Senior Partner Engineer at Uber helping to build its developer ecosystem and platform. Before Uber, he was a Senior Software Engineer at Google and worked on various products, including Google Play, YouTube, and AdWords.
          </div>
        </li> 
        <li>
          <div class="profile-pic">
            <img src="{{asset 'images/jamesmishra-profile.jpeg'}}">
          </div>
          <div class="profile-name">
            James Mishra - Uber
          </div>
          <div class="profile-bio">
            James Mishra is a backend software engineer at Uber, helping build new features for the Uber API. Before Uber, he worked in various federal research labs.
          </div>
        </li> 
        <li>
          <div class="profile-pic">
            <img src="{{asset 'images/anonymous-profile.jpg'}}">
          </div>
          <div class="profile-name">
            TBA - SomeCo
          </div>
          <div class="profile-bio">
            More judges to be announced in the coming days....check back soon!
          </div>
        </li> 
      </ul>
    </secion> 
  </article>
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#">Demz da Rules</a></h2>
    </header>
    <section class="post-content">
        <ul>
          <li>All participants must be at least 18 years of age or older.</li>
          <li>All participants must attend the event at one of the official venues as listed.</li>
          <li>Participants must build applications during the course of the event.</li>
          <li>All participants must utilize the <a href='https://developer.uber.com/' target='_blank'>Uber’s Developer API</a>.</li>
          <li>All participants must show aloha to the hosts and facilities.</li>
          <li>All participants must be <b>excellent</b> to each other.</li>
        </ul>
    </secion>
  </article>
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#">Sponsors</a></h2>
    </header>
    <section class="post-content">
      <ul id="sponsors-list" class="plain-list">
        <li class="uber-logo">
          <img src="{{asset 'images/uber.png'}}" alt="uber-logo">
        </li>
        <li class="livecoding-logo">
          <img src="{{asset 'images/Livecoding.tv_logo.png'}}" alt="livecoding-logo">
        </li>
        <li class="devleague-logo">
          <img src="{{asset 'images/devleague.png'}}" alt="devleague-logo">
        </li>
        <li class="htdc-logo">
          <img src="{{asset 'images/htdc.png'}}" alt="htdc-logo">
        </li>
        <li class="bluestartups-logo">
          <img src="{{asset 'images/bluestartupslogo.png'}}" alt="bluestartups-logo">
        </li>
        <li class="maui-economic-development-board-logo">
          <img src="{{asset 'images/maui.png'}}" alt="maui-econimic-development-board-logo">
        </li>
        <li class="ukulele-underground-logo">
          <img src="{{asset 'images/ukuleleunderground.jpg'}}" alt="ukulele-underground-logo">
        </li>
        <li class="lesson-underground-logo">
          <img src="{{asset 'images/lesson-underground.png'}}" alt="lesson-underground-logo">
        </li>
        <li class="nalukai-foundation-logo">
          <img src="{{asset 'images/nalukai.png'}}" alt="nalukai-foundation-logo">
        </li>
        <li class="frontend-masters-logo">
          <img src="{{asset 'images/logo_frontendmasters.png'}}" alt="frontendmasters-logo">
        </li>
        <li class="pcgamerz-logo">
          <img src="{{asset 'images/pcgamerz.png'}}" alt="pcgamerz-logo">
        </li>
        <li class="boxjelly-logo">
          <img src="{{asset 'images/boxjelly_logo.png'}}" alt="boxjelly-logo">
        </li>
        <li class="fritolay-logo">
          <img src="{{asset 'images/frito-lay.jpeg'}}" alt="fritolay-logo">
        </li>
      </ul>
    </secion>
  </article>
  <article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="#">Follow us</a></h2>
    </header>
    <section class="post-content">
      <p>
        <i class="icon-twitter">
          <span class="hidden"></span>
          <a href=" href="https://twitter.com/Uber_API"">@Uber_API</a>
        </i>
{{!--       </p>
      <p> --}}
        <i class="icon-twitter">
          <span class="hidden"></span>
          <a href="https://twitter.com/devleaguehawaii">@DevLeagueHawaii</a>
        </i>
{{!--       </p>
      <p> --}}
        <i class="icon-facebook">
          <span class="hidden"></span>
          <a href="https://www.facebook.com/Dev-League-419352214850086/timeline/">DevLeague on Facebook</a>
        </i>
      </p>
    </secion>
  </article>
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{!-- {{> "loop"}} --}}


</main>